body {
  background-image: url("checkered_pattern.png");
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

img.image-index {
  max-height: 55px;
  max-width: inherit;
}
table {
  table-layout: fixed;
  border: 3px solid black;
}
td, th {
  height: 75px;
  width: inherit;
  border: 1px solid black;
  overflow:hidden;
}
th {
  font-size: 150%;
}
caption {
  font-size: 150%;
}
div.table-row {
  overflow: auto;
  max-width: inherit;
  height: 60px;
}
.individual-product {
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
}
.individual-image {
  margin: auto;
  max-height: 350px;
}

.footer {
  text-align: center;
}
header {
  text-align: center;
}
.center-text {
  text-align: center;
}
.index-item {
  background-color:lightblue;
  border-radius: 10px;
  text-align: center;
  height: 400px;
  border: 10px;
}
.img-rounded {
  padding: 20px;
  border-radius: 30px;
}
.index-table {
  border:hidden;
}
.discount-message {
  color:purple;
  border: 4px dashed red;
  border-radius: 10px;
  max-width:200px;
  margin: 0px auto;
  padding: 5px 0px;
}
.quantity-div {
  width: 60px;
  margin: auto;
}
.cart-div {
  background-color: lightgreen;
}
.table-order {
  text-align:center;
  margin:auto;
}