<div class = "container-fluid">
  <div class = "row">
    <% @products.each_with_index do |product, index| %>
      <div class = "col-md-3" >
        <a href="/products/<%= product.id %>">
          <div class = "index-item">
                <div>
                  <img class = "img-responsive img-rounded" src=<%= product.images.first.url %>>
                </div>  
                <div>
                  <button class = "btn btn-lg"><%= "#{product.name} - #{product.price_dollar_form(product.price)}" %></button>
                </div>
          </div>  
        </a>
      </div>
    <% end %>
  </div>
</div>
