<div class = "container-fluid">
  <div class = "row">
    <% @products.each_with_index do |product, index| %>
      <div class = "col-md-3" >
        <a href="/products/<%= product.id %>">
          <div class = "index-item">
            <table class = "index-table">
              <tr class = "index-table">
                <td class = "index-table"><img class = "img-responsive img-rounded" src=<%= product.image %>></td>  
              </tr>
              <tr class = "index-table">
                <td class = "index-table"><button class = "btn btn-default btn-lg"><%= "#{product.name} - $#{product.price/100}.#{product.price%100}" %></button></td>
              </tr>
              </table>
          </div>  
        </a>
      </div>
    <% end %>
  </div>
</div>